#messagediv {
    max-height:90vh;
    min-height:90vh;
    overflow: auto;
}

td {
    max-height: 100%;
    overflow: hidden;

}

.message {
    max-width: 80vw;
}

.timestamp {
    min-width: 10vw;
    word-wrap: none;
}
.channelname {
    min-width: 5vw;
}
.username {
    min-width: 5vh
}